.emoji-selector {
  display: flex;
  flex-direction: column;

  .emoji-list-wrapper {
    display: flex;
    flex-direction: column;
  }

  .emoji-list {
    display: flex;
    flex: 2 0 auto;
    height: 950px;
    overflow-y: scroll;
    flex-direction: column;
    min-width: 60%;
    margin: 0px 15px;
    background-color: dimgray;
  }

  .emoji-list-views {
    display: flex;
    flex-direction: row;
    align-self: center;
  }

  .emoji-category-list {
    width: 40%;
    margin: 0px 15px;
    background-color: dimgray;
    min-width: 400px;
    height: fit-content;
  }

  input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
  }

  .emoji-category-list .total-count-label {
    margin-left: 10px;
  }

  .emoji-category-list-label {
    background: bisque;
    color: black;
    display: block;
    font-size: 16px;
    padding-left: 5px;
    text-decoration: none;
  }

  .emoji-category-list-item {
    font-size: 14px;
    margin: 10px;
  }

  .emoji-category-list-item .category-list {
    overflow: auto;
  }

  .emoji-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1 0 auto;
    padding: 7px;
    border-bottom: .5px inset gray;
  }

  .emoji-items .emoji-item {
    margin: 5px;
  }

  .emoji-items .emoji-char {
    font-size: 50px;
    align-self: center;
  }

  .emoji-items .emoji-description {
    align-self: center;
    min-width: 250px;
    word-wrap: unset;
    flex: 0 1 0;
  }

  .emoji-export {
    display: flex;
    flex: 1 1 auto;
    margin: 15px;
    height: fit-content;
    background-color: bisque;
    width: fit-content;
    color: gray;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
  }

}
