{{#liquid-if showList class='animate'}}
   <ol class="category-list">
     {{#each emojiList as |emoji|}}
       <li class='emoji-item' {{action 'findEmoji' emoji.code}}> <span class="char-emoji">{{emoji.char}}</span><span class="name-emoji">{{emoji.name}}</span></li>
     {{/each}}
  </ol>
{{/liquid-if}}