.emoji-json-upload {
  .emoji-edit-import {
    display: flex;
    flex: 0 0 auto;
    margin: 15px;
    height: fit-content;
    background-color: bisque;
    width: fit-content;
    color: gray;
    padding: 8px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
  }

  .file-picker__dropzone {
    height: 100px;
    background-color: gray;
    cursor: pointer;
  }

  .file-loaded {
    height: 900px;
    width: 1178px;
    overflow-y: auto;
    padding-left: 10px;
    overflow-x: hidden;
    word-wrap: break-word;
  }

  .file-picker__preview img {
    display: none;
  }
}
